*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
	background: #e8e8e8 url('img/Ellipse.png') 54% 90px no-repeat;
	font-family: "Times New Roman";
}
.container{
	max-width: 842px;
	min-height: 100vh;
	margin: 125px auto;
	display: flex;
	flex-direction: column;
}

h1{
	font-size: 14px;
	letter-spacing: 3px;
	line-height: 40px;
	color: #273d46;
	font-family: "Arial", sans-serif;
	text-align: center;
	opacity: 0.6;
}

h2{
	font-size: 36px;
	line-height: 50px;
	color: #273d46;
	text-align: center;
	padding: 0 60px;
}


.container .mainphoto{
	flex-basis: 80%;
	filter: drop-shadow(0px 15px 32.5px rgba(15,16,16,0.15));
	border: 15px solid #ffffff;
	align-self: center;
	margin-top: 65px;
}

.content{
	padding: 40px 50px 0 40px;
}

.content p{
	font-size: 24px;
	line-height: 40px;
	color: #273d46;
	margin: 50px 0;
}

.firstul li{
	background: url(img/check.png) left 5px no-repeat;
	padding-left: 36px;
	font-size: 20px;
	line-height: 36px;
	color: #273d46;
	font-family: "Arial";
}

.normal{
	filter: drop-shadow(0px 1px 0px rgba(0,0,0,0.3));
}

.colored{
	color: #80b7b3;
	font-style: italic;
}

.boldtext{
	font-weight: bold;
}

.line span{
	text-decoration: line-through;
	opacity: 0.3;
}

.button{
	width: 200px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 30px;
	background: #80b7b3;
	filter: drop-shadow(0px 6px 20px rgba(128,183,179,0.54));	
	font-size: 14px;
	letter-spacing: 3px;
	color: #ffffff;
	font-family: "Arial";
	margin-top: 60px;
	margin-bottom: 60px;
}

.button img{
	margin-left: 10px;
}

hr{
	width: 100%;
	height: 2px;
	background-color: #80b7b3;
	margin-bottom: 30px;
}

.secondhomework{
	padding-left: 40px;
	margin-bottom: 30px;
}

.secondhomework .secondul li{
	background: url(img/check.png) left 5px no-repeat;
	padding-left: 36px;
	font-size: 20px;
	line-height: 36px;
	color: #273d46;
	font-family: "Arial";
}
.secondhomework .secondul li:first-child{
	text-decoration: line-through;
}

.secondhomework .secondul li:first-child:hover{
	text-decoration: none;
}

.secondhomework .secondul li:nth-child(2){
	font-weight: bold;
}
.secondhomework .secondul li:nth-child(2):hover{
	color: red;
	font-weight: normal;
	background: url(img/check-red.png) left 5px no-repeat;
}
.secondhomework .secondul li:nth-child(3){
	font-style: italic;
}
.secondhomework .secondul li:last-child{
	text-transform: uppercase;
}
.secondhomework .secondul li:nth-child(3):hover, .secondhomework .secondul li:nth-child(4):hover{
	text-transform: none;
	font-style: normal;
}


.button:hover{
	background: #3a5855;
}

.button:active{
	background: #818181;
}

input{
	width: 290px;
	min-height: 50px;
	font-size: 20px;
	color: #3a5855;
	border: 1px solid #b0b0b0;
}

input:focus{
	filter: drop-shadow(0 0 10px rgba(127,190,213,0.93));
	border: 1px solid #7fbed5;
}

.about{
	width: 100%;
	margin: 100px auto;
	background-color: #fff;
}

.about__body{
	padding: 50px 0;
	font-family: 'Lato', sans-serif;
	max-width: 823px;
	margin: 0 auto;
}

.about__header{
	margin-bottom: 65px;
}

.about__title{
	margin-bottom: 30px;
	position: relative;
}

.title{
	font-size: 34px;
	letter-spacing: 5px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	padding-bottom: 30px;
}

.title::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 80px;
	height: 1px;
	background: #000;
}

.about__subtitle{
	max-width: 688px;
	font-size: 14px;
	line-height: 26px;
	color: #868585;
	font-weight: 300;
	text-align: center;
	margin: 0 auto;
}

.about__row{
	margin-top: 70px;
	display: flex;
	justify-content: space-around;
  	margin: 0px -15px;
}

.about__column{
	padding: 0px 15px;
 	-webkit-box-flex: 0;
 	-ms-flex: 0 0 33.333%;
 	flex: 0 0 33.333%;
}

.item-about{

}

.item-about__icon{
	width: 92px;
	height: 92px;
	margin: 0px auto 40px auto;
	border: 2px solid #f0f0f0;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
.item-about__icon:hover{
	transform: translateY(-7px);
}

.target img{
	transform: translateX(10%);
}

.item-about__title{
	font-size: 22px;
	letter-spacing: 4px;
	color: #000000;
	font-weight: 400;
	text-align: center;
	margin-bottom: 30px;
}

.item-about__text{
	width: 33
	font-size: 14px;
	line-height: 26px;
	color: #868585;
	font-weight: 300;
	text-align: center;
}


